<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show_recipe.css') }}">
    <title>{{recipe.name}}</title>
</head>
<body>
    <header>
        <h2>Welcome {{user.first_name}}!</h2>
        <div>
            <a class="classicBtn" href="/dashboard">Dashboard</a>
            <form action="/logout" method="post"><input class="classicBtn" type="submit" value="Logout"></form>
        </div>
    </header>
    <main>
        <h1>{{recipe.name}}</h1>
        <ul>
            <li><span>Description:</span>{{recipe.description}}</li>
            <li><span>Under 30 minutes:</span>{{recipe.under_30_mins}}</li>
            <li><span>Instructions:</span>{{recipe.instructions}}</li>
            <li><span>Date Made:</span>{{recipe.created_at}}</li>
        </ul>
    </main>
</body>
</html>