*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 100vh;
    background-color: rgb(55, 25, 94);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    padding: 5rem 20rem;
}
a{
    color: white;
}

h1, main{
    margin-bottom: 1rem;
}