<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/authors_books.css')}}">
    <title>Authors</title>
</head>
<body>
    <main>
        <section>
            <h1 class="title">New Author</h1>
            <form class="add_form" action="/authors/new" method="post">
                <label>Name: <input type="text" name="author_name"></label>
                <button class="classicBtn" type="submit">Create</button>
            </form>
        </section>
        <section>
            <h2 class="title">All Authors</h2>
            <nav>
                <ul class="links_container">
                    {% for author in authors %}
                        <li><a {{"href=/authors/" + author.id|string}}>{{author.name}}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <a href="/books">Add Book</a>
        </section>
    </main>
</body>
</html>