.AuthorForm{
    /* margin-top: 2rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.AuthorForm div{
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.AuthorForm label{
    width: 3rem;
}

.AuthorForm button{
    width: 5rem;
}

