@charset "ISO-8859-1";

body{
	padding: 3rem 10rem;
}

main{	
	display: flex;
	justify-content: center;
}

h1{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

h1 a{
	font-size: 1.25rem;
}

form div{
	display: flex;
	margin-bottom: 1rem;
}

label{
	width: 9.5rem;
}

.alert{
	display: flex;
	flex-direction:column;
}