@charset "ISO-8859-1";

body{
	padding: 3rem 10rem;
}

main{	
	display: flex;
	flex-direction:column;
	align-items: center;
}


.table{
	margin-bottom: 3rem;
	width: 35rem;
}

.actions_row{
	display: flex;
	align-items:center;
	justify-content:space-between;
}

form div{
	display: flex;
	margin-bottom: 1rem;
}

label{
	width: 9.5rem;
}

.alert{
	display: flex;
	flex-direction:column;
}