@charset "ISO-8859-1";

body{
	font-family:arial;
	display:flex;
	flex-direction:column;
	align-items:center;
}

form{
	display:flex;
	flex-direction:column;
	align-items:left;
	border:2px solid black;
	width:20rem;
	padding:1rem 2rem;
	gap:0.5rem;
}

label{
	display:flex;
	flex-direction:column;
	align-items:left;
	font-weight:bold;
}

input[type="number"]{
	width: 2rem;
}

input[type="submit"]{
	align-self: flex-end;
	width: min-content;
	font-weight:bold;
	font-size:1.25rem;
}

input{
	width: 12.5rem;
}