@charset "ISO-8859-1";

body{
	padding: 3rem 25rem;
	display: flex;
	flex-direction:column;
	justify-content: center;
}

header{
	display: flex;
	justify-content: space-between;
	margin-bottom:2rem;
	align-items: center;
}

.header_options{
	display: flex;
	gap:1rem;
}


form div{
	display: flex;
	gap: 1rem;
	margin-bottom: 1rem;
}

.a{
	border:none;
	background:none;
	outline:none;
	text-decoration:underline;
	padding:0;
}