.App {
  /* width: 60rem;
  height: 35rem; */
  width: 60rem;
  height: 35rem;
  background-color: #dddddd;
  padding: 1rem;
  display: flex;
  /* align-content: flex-start; */
  flex-wrap: wrap;
  /* gap: 3%; */
  border: 2px solid black;
}